.greetingContainer form {
  display: flex;
  gap: 8px;
  align-items: end;
}

.profile {
  display: flex;
  flex-direction: column;
  width: 25%;
  gap: 16px;
  align-items: center;
  padding: 16px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: #f5f5f5;
}

.profile img {
  width: 100%;
}

.profile h3, p {
  margin: 0;
}

.counterApp {
  display: flex;
  gap: 8px;
  align-items: center;
}

.counterApp p {
  padding: 2px 8px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: #f5f5f5;
  width: 24px;
  text-align: center;
}

.toggleButton button {
  width: 40px;
  padding: 4px 0;
}

.textVisibility {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 16px;
}

.textVisibility button {
  width: inherit;
}

.textVisibility h2 {
  margin-bottom: 0px;
}